@import '../../../../node_modules/bootstrap/scss/bootstrap';
//@import 'variables';

// Variables de color
$primary-color: #511a87;
$secondary-color: #ffffff;
$color-change-percentage: 10%;

// Estilos para la barra de navegación
.navbar {
  background-color: $primary-color;
  background-image: linear-gradient(to bottom, $primary-color, $primary-color $color-change-percentage, $primary-color);

  .navbar-brand {
    font-size: 30px;
    font-weight: bold;
    color: $secondary-color;

    &:hover {
      color: $secondary-color;
    }
  }

  .nav-link {
    color: $secondary-color;

    &:hover,
    &:active,
    &.active {
      color: $secondary-color;
    }
  }

  .dropdown-menu {
    background-color: $primary-color;

    .dropdown-item {
      color: $secondary-color;

      &:hover {
        color: $secondary-color;
        background-color: lighten($primary-color, $color-change-percentage);
      }
    }
  }

  .form-control {
    background-color: lighten($primary-color, $color-change-percentage);
    color: $secondary-color;

    &::placeholder {
      color: $secondary-color;
    }
  }

  .btn-outline-success {
    color: $secondary-color;
    border-color: $secondary-color;

    &:hover {
      color: $primary-color;
      background-color: $secondary-color;
    }
  }
}
