@import '../../../../../node_modules/bootstrap/scss/bootstrap';
@import '~bootstrap/dist/css/bootstrap.min.css';

.container {
  padding: 20px 0;

  .card.product {
    .image-wrapper {
      .image-container {
        display: flex;
        align-items: left;

        .arrow {
          font-size: 24px;
          background-color: transparent;
          border: none;
          color: #333;
          cursor: pointer;
        }

        .left-arrow {
          margin-right: 10px;
        }

        .right-arrow {
          margin-left: 10px;
        }

        .images {
          flex-grow: 1;
          display: flex;
          justify-content: left;
          align-items: left;

          .card-img-top.product-image {
            max-width: 100%;
            max-height: 500px;
            object-fit: contain;
          }
        }
      }
    }

    .card-body {
      .card-title.product-name {
        font-size: 24px;
        margin-bottom: 20px;
      }

      .card-text.product-category,
      .card-text.product-brand {
        margin-bottom: 5px;
      }

      .card-text.product-size {
        margin-bottom: 5px;

        select {
          margin-left: 5px;
        }
      }

      .card-text.product-flavor {
        margin-bottom: 5px;

        select {
          margin-left: 5px;
        }
      }

      .card-text.product-stock,
      .card-text.product-discount,
      .card-text.product-price {
        margin-bottom: 5px;
      }

      .card-text.product-description {
        margin-bottom: 20px;
      }

      .btn.btn-primary.add-to-cart-button {
        margin-top: 10px;
      }
    }
  }
}
