<!-- login-form.component.html -->
<div class="form-container">
  <h1>Formulario de Ingreso</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email">
      <div *ngIf="loginForm.get('email')?.errors?.['required']">Se requiere un Email.</div>
      <div *ngIf="loginForm.get('email')?.errors?.['email']">Formato Invalido.</div>
    </div>
    <div>
      <label for="password">Contraseña:</label>
      <input type="password" id="password" formControlName="password">
      <div *ngIf="loginForm.get('password')?.errors?.['required']">Es necesaria una Contraseña.</div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid || isSubmitting">Ingresar</button>
    <hr>
    <div class="google-btn" (click)="googleLogin()" [hidden]="isSubmitting">Ingresar con Google</div>
    <div class="facebook-btn" (click)="facebookLogin()" [hidden]="isSubmitting">Ingresar con Facebook</div>
  </form>

  <div *ngIf="!isRegistrationEnabled && !isSubmitting" class="error-message">
    No se permite el inicio de sesión. Por favor, regístrate antes de iniciar sesión.
    <a (click)="redirectToRegistration()">Regístrate aquí</a>
  </div>

  <div *ngIf="isSubmitting" class="loading-message">
    Iniciando sesión...
  </div>
</div>
