<!-- product-list.component.html -->

<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- Agregar el desplegable de ordenación -->
      <label for="sortOrder">Ordenar por:</label>
      <select id="sortOrder" [(ngModel)]="selectedSortOrder" (change)="sortProducts()">
        <option value="popularity">Popularidad</option>
        <option value="averageRating">Puntuación media</option>
        <option value="latestAdded">Últimos agregados</option>
        <option value="lowToHigh">Precio bajo a alto</option>
        <option value="highToLow">Precio alto a bajo</option>
        <option value="atoz">De la A a la Z</option>
      </select>
    </div>

    <div *ngIf="confirmationMessage" class="confirmation-message col-12">
      {{ confirmationMessage }}
    </div>

    <div class="col-12 col-lg-3">
      <div class="category-menu">
        <h5>Categorías:</h5>
        <ul>
          <li (click)="resetFilters()">Todos los Productos</li>
          <li *ngFor="let category of productCategories" (click)="filterProductsByCategory(category)">
            {{ category }}
          </li>
        </ul>
      </div>
    </div>

    <div class="col-12 col-lg-9">
      <div class="row">
        <div *ngIf="confirmationMessage" class="confirmation-message col-12">
          {{ confirmationMessage }}
        </div>
        <div class="col-12 col-md-6 col-lg-4" *ngFor="let product of filteredProducts">
          <div class="card product">
            <div class="image-wrapper">
              <div class="image-container">
                <button class="arrow left-arrow" (click)="scrollImages(product, -1)">&lt;</button>
                <div class="images">
                  <img class="card-img-top product-image" [src]="product.imageUrl[currentImageIndex]" alt="{{ product.name }}" />
                </div>
                <button class="arrow right-arrow" (click)="scrollImages(product, 1)">&gt;</button>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title product-name">
                <a *ngIf="product.id" (click)="viewProductDetails(product.id)" [title]="product.name">{{ product.name }}</a>
                <span *ngIf="!product.id" [title]="product.name">{{ product.name }}</span>
              </h5>
              <p class="card-text product-category" *ngIf="product.category && product.category.length > 0">
                Categoría: {{ product.category }}
              </p>
              <p class="card-text product-brand" *ngIf="product.brand && product.brand.length > 0">Marca: {{ product.brand }}</p>
              <p class="card-text product-size" *ngIf="product.sizes && product.sizes.length > 0">
                Tamaño:
                <select [(ngModel)]="product.selectedSize" (change)="filterProductsBySize()">
                  <option *ngFor="let size of product.sizes" [value]="size">{{ size }}</option>
                </select>
              </p>
              <p class="card-text product-size" *ngIf="product.size && product.size.length > 0">
                Tamaño: {{ product.size }}
              </p>
              <p class="card-text product-flavor" *ngIf="product.flavors && product.flavors.length > 0">
                Sabor:
                <select [(ngModel)]="product.selectedFlavor" (change)="filterProductsByFlavor()">
                  <option *ngFor="let flavor of product.flavors" [value]="flavor">{{ flavor }}</option>
                </select>
              </p>
              <p class="card-text product-flavor" *ngIf="product.flavors && product.flavors.length === 1">
                Sabor: {{ product.flavors[0] }}
              </p>
              <p class="card-text product-stock" *ngIf="product.stock !== undefined && product.stock !== 0">
                Stock: {{ product.stock }}
              </p>
              <p class="card-text product-description" *ngIf="product.description">{{ product.description }}</p>
              <p class="card-text product-discount" *ngIf="product.discount !== undefined && product.discount !== 0">
                Descuento: {{ product.discount }}
              </p>
              <p class="card-text product-price" *ngIf="product.price !== undefined && product.price !== 0">
                ${{ formatPrice(product.price) }}
              </p>
              <button class="btn btn-primary add-to-cart-button" (click)="addProduct(product)">Añadir al Carrito</button>
              <button class="btn btn-primary view-more-button" *ngIf="product.id" (click)="viewProductDetails(product.id)">Ver más</button>
              <p class="error-message" *ngIf="product.flavors && product.flavors.length > 0 && !product.selectedFlavor">Selecciona un sabor</p>
              <p class="error-message" *ngIf="product.sizes && product.sizes.length > 0 && !product.selectedSize">Selecciona un tamaño</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
