@import '../../../../../node_modules/bootstrap/scss/bootstrap.scss';

// product-list.component.scss

.container {
  padding: 20px;
}

.filter-menu {
  margin-bottom: 20px;
}

.product {
  margin-bottom: 20px;
}

.image-wrapper {
  position: relative;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.images {
  display: flex;
  transition: transform 0.5s ease;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: black;
  font-size: 20px;
  padding: 8px;
  cursor: pointer;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
  margin-bottom: 5px;
}

.product-category,
.product-brand,
.product-size,
.product-flavor,
.product-stock,
.product-description,
.product-discount,
.product-price {
  margin-bottom: 5px;
}

.add-to-cart-button {
  margin-top: 10px;
}

@media (min-width: 576px) {
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
}

@media (min-width: 992px) {
  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
}
