/* product-list.component.scss */

/* Estilos adicionales para el desplegable de ordenación */
label {
  margin-right: 10px;
  // Añade más estilos si es necesario
}

select {
  padding: 5px;
}

/* Estilos generales */
.container {
  display: flex;
  flex-direction: column; /* Cambio de dirección a columna para dispositivos móviles */
  align-items: center; /* Centra los elementos horizontalmente */
  margin-top: 20px;

  // Menú de categorías
  .category-menu {
    position: sticky;
    left: 0;
    width: 100%; /* Ancho completo para dispositivos móviles */
    background-color: #f2f2f2;
    padding: 10px;
    border-right: 1px solid #ccc;
    margin-left: 0; /* Elimina el margen izquierdo para dispositivos móviles */

    h5 {
      font-size: 20px; /* Ajuste de tamaño para dispositivos móviles */
      font-weight: bold;
      margin-bottom: 10px;
      color: #333;
    }

    ul {
      list-style: none;
      padding-left: 0;

      li {
        cursor: pointer;
        margin-bottom: 8px;
        border-radius: 5px;
        font-size: 16px; /* Ajuste de tamaño para dispositivos móviles */
        transition: all 0.2s ease;
        color: #000;
        background-color: #fff;

        &:hover {
          color: #ff6b6b;
        }
      }
    }
  }
}

// Tarjetas de productos
.product {
  margin-bottom: 5px;
  position: sticky;
  margin-left: auto; /* Elimina el margen izquierdo para alinear a la izquierda */
  margin-right: auto; /* Centra horizontalmente */

  .image-wrapper {
    position: relative;

    .image-container {
      position: relative;
      overflow: hidden;

      .images {
        display: flex;
        transition: transform 0.5s ease;
      }

      .left-arrow,
      .right-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        color: black;
        font-size: 20px;
        padding: 8px;
        cursor: pointer;

        &.left-arrow {
          left: 0;
        }

        &.right-arrow {
          right: 0;
        }
      }
    }
  }

  .card-body {
    .card-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .card-text {
      font-size: 14px;
      margin-bottom: 5px;
      text-align: justify;
    }

    .product-name {
      margin-bottom: 0;
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        color: #ff6b6b;
      }
    }

    .product-category,
    .product-brand,
    .product-size,
    .product-flavor,
    .product-stock,
    .product-description,
    .product-discount {
      margin-bottom: 5px;

    }

    .product-price {
      font-size: 15px;
      margin-bottom: 5px;
      font-weight: bolder;
    }

    .add-to-cart-button {
      margin-top: 10px;
      margin-right: 5px;
    }

    .view-more-button {
      margin-top: 10px;
    }
  }
}

// Mensaje de confirmación
.confirmation-message {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  // Estilos para pantallas pequeñas
  .col-lg-2 { // Ajustar el ancho de las tarjetas
    flex-basis: 100%; /* Ocupa el ancho completo */
    max-width: 100%;
  }
  .category-menu {
    height: auto;
    padding: 15px;

    h5 {
      font-size: 16px;
      margin-bottom: 8px;
    }

    ul {
      li {
        font-size: 12px;
      }
    }
  }
}
