@import '../../../../../node_modules/bootstrap/scss/bootstrap';


.container {
  display: flex;

  .category-menu {
    position: sticky;
    top: 0;
    width: 200px;
    background-color: #f2f2f2;
    padding: 10px;
    border-right: 1px solid #ccc;

    h5 {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #333;
    }

    ul {
      list-style: none;
      padding-left: 0;

      li {
        cursor: pointer;
        margin-bottom: 5px;
        border-radius: 5px;
        font-size: 18px;
        transition: all 0.2s ease;
        color: #000;
        background-color: #fff;
        transition: background-color 0.3s;

        &:hover {
          color: #ff6b6b;
        }
      }
    }
  }
}

.product {
  margin-bottom: 20px;
}

.image-wrapper {
  position: relative;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.images {
  display: flex;
  transition: transform 0.5s ease;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: black;
  font-size: 20px;
  padding: 8px;
  cursor: pointer;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
  margin-bottom: 5px;
}

.product-name {
  margin-bottom: 0;
  cursor: pointer; /* Agregado */
  text-decoration: underline; /* Agregado */
}

.product-name:hover {
  color: #ff6b6b; /* Agregado */
}

.product-category,
.product-brand,
.product-size,
.product-flavor,
.product-stock,
.product-description,
.product-discount,
.product-price {
  margin-bottom: 5px;
}

.add-to-cart-button {
  margin-top: 10px;
}

.confirmation-message {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .category-menu {
    height: 80px;
    padding: 10px;

    h5 {
      font-size: 16px;
      margin-bottom: 8px;
    }

    ul {
      li {
        font-size: 12px;
      }
    }
  }
}

@media (min-width: 768px) {
  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
}

@media (min-width: 992px) {
  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
}

.user-panel {
  display: flex;

  .menu {
    width: 200px;
    background-color: #f2f2f2;
    padding: 10px;
    border-right: 1px solid #ccc;

    .menu-items {
      list-style-type: none;
      padding: 0;
      margin: 0;

      .menu-item {
        cursor: pointer;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 5px;
        font-weight: bold;
        color: #000;
        background-color: #fff;
        transition: background-color 0.3s;

        &:hover {
          background-color: #e0e0e0;
        }
      }
    }
  }

  .content {
    flex: 1;
    padding: 10px;
  }
}

// Resto de los estilos...
