<div class="container">
  <h2>Agregar Producto</h2>
  <form (ngSubmit)="addProduct()">
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="newProduct.name" name="name" required>
    </div>
    <div class="form-group">
      <label for="description">Descripción:</label>
      <textarea class="form-control" id="description" [(ngModel)]="newProduct.description" name="description" required></textarea>
    </div>
    <div class="form-group">
      <label for="price">Precio:</label>
      <input type="number" class="form-control" id="price" [(ngModel)]="newProduct.price" name="price" required>
    </div>
    <div class="form-group">
      <label for="imageUrl">URL de la Imagen:</label>
      <input type="text" class="form-control" id="imageUrl" [(ngModel)]="newProduct.imageUrl" name="imageUrl" required>
    </div>
    <!-- Agrega campos adicionales según tu modelo de datos -->
    <button type="submit" class="btn btn-primary">Agregar Producto</button>
  </form>
</div>
