@import '~bootstrap/dist/css/bootstrap.min.css';

/* Estilos generales */
main {
  min-height: 100vh;
}

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* Estilos para el carrusel de marcas */
.carousel-container {
  width: 80%;
  margin-bottom: 30px;
}

.carousel {
  display: flex;
  align-items: center;
  height: 200px;
  overflow: hidden; /* Ocultamos cualquier contenido adicional fuera del carrusel */
}

.carousel-item {
  flex: 0 0 auto; /* Evitamos que las imágenes cambien de tamaño */
  width: 35%; /* Ancho fijo para que solo se muestren 5 marcas a la vez */
  display: flex;
  justify-content: center;
  padding: 2 2px; /* Ajustamos el espacio entre las marcas */
}

.brand-logo {
  max-height: 150px;
  max-width: 150%;
}

/* Estilos para las tarjetas de productos */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}

.col-md-3,
.col-sm-6 {
  padding: 30px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
}

.card-img-top {
  height: 350px;
  object-fit: scale-down;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 3.25rem;
}

h4.card-title {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

p.card-text {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.btn-group {
  margin-top: 15px;
}

.btn {
  margin-right: 8px;
}

small.text-muted {
  font-size: 0.8rem;
  color: #999;
}
