<footer class="footer bg-dark text-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>PowerFitness</h4>
        <p>Tienda de artículos deportivos en Bogotá, Colombia. Envíos a todo el país.</p>
        <p>Teléfono: +573124193753</p>
        <a href="https://api.whatsapp.com/send?phone=573124193753" target="_blank" class="btn btn-whatsapp"><i class="fab fa-whatsapp"></i> Contáctanos por WhatsApp</a>
      </div>
      <div class="col-md-4">
        <h4>Enlaces</h4>
        <ul class="list-unstyled">
          <li><a [routerLink]="'/'">Inicio</a></li>
          <li><a [routerLink]="'/categorias'">Categorías</a></li>
          <li><a [routerLink]="'/product-list'">Productos</a></li>
          <li><a [routerLink]="'/nosotros'">Nosotros</a></li>
          <li><a [routerLink]="'/descuentos'">Descuentos</a></li>
          <li><a [routerLink]="'/contact'">Contacto</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Síguenos</h4>
        <ul class="list-unstyled social-icons">
          <li><a href="https://www.facebook.com/PowerFitness" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/PowerFitness" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/PowerFitness" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p class="text-muted small mb-0">© 2023 PowerFitness</p>
  </div>
</footer>
