@import '~bootstrap/dist/css/bootstrap.min.css';

.container {
  display: flex;
  flex-wrap: wrap; /* Make container responsive */

  .menu {
    width: 200px;
    background-color: #f2f2f2;
    padding: 10px;
    border-right: 1px solid #ccc;

    .menu-items {
      list-style-type: none;
      padding: 0;
      margin: 0;

      .menu-item {
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 5px;
        font-weight: bold;
        color: #000;
        background-color: #fff;
        transition: background-color 0.3s;

        &:hover {
          background-color: #e0e0e0;
        }
      }
    }
  }

  .content {
    flex: 1;
    padding: 10px;
  }

  // Additional styles...

  .module-content {
    // Styles for module content...
  }

  .order-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

    button {
      margin-top: 10px;
    }
  }

  .order-details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      margin-bottom: 10px;
    }
  }
}
