/* Estilo para el body y el contenido principal */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background-color: #333;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#content {
  width: 100%;
  padding: 15px;
}

.navbar {
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para el botón de mostrar/ocultar menú */
#sidebarCollapse {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

/* Estilo para los enlaces del menú lateral */
.sidebar ul.components {
  padding: 20px 0;
}

.sidebar ul p {
  padding: 10px;
  font-size: 1.1em;
}

.sidebar ul li {
  padding: 10px;
  font-size: 1.2em;
  display: block;
}

.sidebar ul li.active {
  background-color: #fff;
  color: #333;
}

/* Estilo para el contenido principal */
.content-section {
  padding: 20px;
}

/* Agrega estilos adicionales según sea necesario */
