<!-- dashboard.component.html -->

<div class="dashboard-container">
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Aquí puedes incluir enlaces o botones para navegar a las diferentes secciones del dashboard -->
    <ul>
      <li><a routerLink="/dashboard/product-management">Gestión de Productos</a></li>
      <li><a routerLink="/dashboard/order-management">Gestión de Pedidos</a></li>
      <li><a routerLink="/dashboard/shipment-management">Gestión de Despachos</a></li>
      <li><a routerLink="/dashboard/invoice-management">Gestión de Facturación</a></li>
      <!-- Agrega más enlaces según tus necesidades -->
    </ul>
  </div>

  <!-- Área de contenido principal -->
  <div class="content">
    <!-- Aquí se mostrarán los componentes de las rutas -->
    <router-outlet></router-outlet>
  </div>
</div>
